</div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
  <div class="col-group">
    <hr>
      <div style="color:#777777;">
           Grind Coffee Co.
          <br /><br />
          <div style="color:#89ABA9;">
            315 W University Dr.<br />
            Edinburg, TX 78541<br />
            956.467.0655<br />
          </div>
        </div>


      <div class="social_buttons">
          <a href="https://www.facebook.com/grindcoffeecompany"><i class="fa fa-facebook"></i></a><br />
          <a href="https://twitter.com/grindcoffeetx"><i class="fa fa-twitter"></i></a><br />
          <a href="#"><i class="fa fa-instagram"></i></a><br />
      </div>

      <div style="color:#777777;">
  			<ul class="list-unstyled">
          MORE INFO<br /><br />
          <a href="/about">About</a><br />
          <a href="/contact">Contact</a><br />
          <a href="/feedback">Feedback</a>
  			</ul>
  		</div>
    </div>
    <hr>


    <div class="footer-bottom"><a href="http://bevisa.io/">Copyright &copy; Grind Coffee Co. 2017 by BEVISA</a></div>

</footer>

</body>
</html>
