{{> header }}

<title>Gallery</title>


<div>
<h1>We can add photos here, if you want!</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


</div>
{{> footer }}
