{{> header }}


    <!-- <video poster="../Coffee-Shot/Snapshots/Coffee-Shot.jpg" id="bgvid" playsinline autoplay muted loop>
    <source src="../Coffee-Shot/Mp4/Coffee-Shot.mp4" type="video/webm">
    <source src="../Coffee-Shot/Webm/Coffee-Shot.webm" type="video/mp4">
    </video>
    <div id="homeVideo">
    </div> -->
  <div id="mainTitle">Grind Coffee Co.</div>


<!-- footer below -->

</div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
  <div class="col-group">
    <hr>
      <div style="color:white;">
          Grind Coffee Co.<br /><br />

          <div style="color:#6d99a3;">
            315 W University Dr.<br />
            Edinburg, TX 78541<br />
            956.467.0655<br />
          </div>
        </div>


      <div class="social_buttons">
          <a href=""><i class="fa fa-facebook"></i></a><br />
          <a href=""><i class="fa fa-twitter"></i></a><br />
          <a href=""><i class="fa fa-instagram"></i></a><br />
      </div>

      <div  style="color:white;">
  			<ul class="list-unstyled">
          Other Stuff<br /><br />
          <a href="/about">About</a><br />
          <a href="/contact">Contact</a><br />
          <a href="/feedback">Feedback</a>
  			</ul>
  		</div>
    </div>
    <hr>


<div class="footer-bottom"><a href="http://bevisa.io/">Copyright &copy; Grind Coffee Co. 2017 by BEVISA</a></div>

</footer>

</body>
</html>
