{{> header }}
<title>Location</title>


  <div style="text-align: center">
    <h2>Grind Coffee Co.</h2>
    <p>Since 2016</p>
    <h3>315 W. University Dr.</h3>
    <h3>Edinburg, TX 78541</h3>
    <h3>956.720.4573</h3>
  </div>


{{> footer }}
